extends /src/layouts/post

block exports
  -exports.type = "post"
  -exports.comments = true
  -exports.authors = ["Nyalab"]
  -exports.title = "ES6, ES2015, ESsaie de suivre un peu"
  -exports.tags = ["javascript", "es6", "es2015"]
  -exports.date = "2015-03-01"

block main
  +Post(exports.title)
    include:md index.md
